<link href="/buxis/Partials/css/pkStyle.css" rel="stylesheet">
<p class="bxFormTitle">Formulario Vacaciones de Mis Personas a Cargo</p>
<form class="bxForm">
	<div class="bxBtns" bx-effdt="0" bx-servBtn="FVACMIPERS" bx-btnAgregar="0" bx-saveBtn="0"  bx-onSelect="SelectMiFormVac2();" bx-btnPrint="0" bx-btnBuscar="0" bx-searchCols="COD_MF:Legajo,NOM_MF:Nombre,PERIODO:Período,COD_EMP:Empresa,EMPRESA:Nombre Empresa,CALCULADOS:Días Calculados,TOMADOS:Días Tomados,TRAMITE:Días en Trámite,MAX_FRAG:Máx Frag,PENDIENTES:Días Pendientes" bx-searchFields="COD_MF:Legajo,NOM_MF:Nombre">
	<!--  acá va a ir la botonera y se va a hacer un load al archivo que contiene la botonera -->
	</div>




</form>
<div id="searchForm" class="ui-widget-content ui-corner-all searchForm"></div>
<script type="text/javascript" src="/buxis/Partials/js/formvacmipers.js"></script>
