<link href="/buxis/Partials/css/pkStyle.css" rel="stylesheet">
<p class="bxFormTitle">Valida Interfaz HRMS</p>
<form class="bxForm">
	<div class="bxBtns" bx-effdt="0" bx-servBtn="HRMS_VALIDA" bx-btnAgregar="0" bx-procForm="1" bx-cancelBtn="0">
	<!--  acá va a ir la botonera y se va a hacer un load al archivo que contiene la botonera -->
	</div>
	<p>
	</p>
	<div class="ui-widget ui-widget-content ui-corner-all" style="padding:10px;">
		<table class="bxControls">
			<tr>
				<td></td><td></td>
			</tr>
			<tr>
				<td>Proceso de Validación de la Interfaz de HRMS</td><td></td>
			</tr>
			<tr>
				<td>Sin parámetros</td><td></td>
			</tr>
			<tr>
				<td>Se leen los archivos ubicados en: <span class="bxCtrl" name="ruta_hrms" bx-ctrlField="RUTA_HRMS"></span></td><td></td>
			</tr>
		</table>
	</div>
</form>
<div id="searchForm" class="ui-widget-content ui-corner-all searchForm"></div>
<script type="text/javascript" src="/buxis/Partials/js/hrms_valida.js"></script>
