<link href="/buxis/Partials/css/pkStyle.css" rel="stylesheet">
<form class="bxForm">
	<div class="bxBtns" bx-effdt="0" bx-servBtn="NOMINA_URUGUAY" bx-btnAgregar="0" bx-procForm="1">
	<!--  acá va a ir la botonera y se va a hacer un load al archivo que contiene la botonera -->
	</div>
	<p>
	</p>
	<div class="ui-widget ui-widget-content ui-corner-all" style="padding:10px;">
		<table class="bxControls">
			<tr>
				<td>Liquidación: </td><td><input type="text" style="width:100px;" class="bxCtrl ui-widget ui-widget-content" name="COD_LQ" bx-ctrlField="COD_LQ" bx-srvCombo="CITI.COD_LQ.CMB"/><span class="bxCtrl" name="desc_lq" bx-brwCodeDsc="cod_lq" bx-dscSrv="CITI.COD_LQ.DESC"></span></td>
			</tr>
		</table>
	</div>
</form>
<div id="searchForm" class="ui-widget-content ui-corner-all searchForm"></div>
<script type="text/javascript" src="/buxis/Partials/js/nomina_uruguay.js"></script>
