<link href="/buxis/Partials/css/pkStyle.css" rel="stylesheet">
<p class="bxFormTitle">Comentarios Recibo</p>
<form class="bxForm">
	<div class="bxBtns" bx-effdt="0" bx-servBtn="PAR_COMENT_RECIBO" bx-onSave="Validacion();" bx-btnEliminar="0" bx-onSelect="CargarControles();">
	<!--  acá va a ir la botonera y se va a hacer un load al archivo que contiene la botonera -->
	</div>
	<p>
		<div id="idDivCencos" class="ui-widget ui-widget-content ui-corner-all bxSubKey">
			<div class="bxLabel">Grado:</div><input id="GRADO" type="text" style="width:75px;text-align:center" class="bxCtrl ui-widget ui-widget-content" name="GRADO" bx-ctrlField="GRADO" bx-ctrlKey="1" disabled/>
			<div class="bxLabel">Full Part Time:</div><input id="FULL_PART_TIME" type="text" style="width:75px;text-align:center" class="bxCtrl ui-widget ui-widget-content" name="FULL_PART_TIME" bx-ctrlField="FULL_PART_TIME" bx-ctrlKey="1" />
			<div class="bxLabel">Convenio:</div><input id="QS_CONVENIO" type="text" style="width:75px;text-align:center" class="bxCtrl ui-widget ui-widget-content" name="QS_CONVENIO" bx-ctrlField="QS_CONVENIO" bx-ctrlKey="1" />
			<div class="ui-widget" style="display:inline-block;float:right;">
				<span class="pkFlechasEfec ui-icon ui-icon-trash" id="bxBtnDeletesubKey" onclick="Eliminar();"></span>
				&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

			</div>
		</div>
	</p>
	<div class="ui-widget ui-widget-content ui-corner-all">
		<table class="bxControls">
			<tr style="margin:500px;">
				<td>Comentario:</td><td><input type="Text" style="width:200px;" name="CB_COMENT" class="bxCtrl ui-widget ui-widget-content" bx-ctrlField="CB_COMENT"/></td>
			</tr>					
		</table>
	</div>
	<div class="ui-widget ui-widget-content ui-corner-all">
		<table class="bxControls">
		</table>
	</div>
</form>
<div id="searchForm" class="ui-widget-content ui-corner-all searchForm"></div>
<script type="text/javascript" src="/buxis/Partials/js/par_comrecibo.js"></script>
