<link href="/buxis/Partials/css/pkStyle.css" rel="stylesheet">
<p class="bxFormTitle">Parámetros de Liquidador</p>
<form class="bxForm">
	<div class="bxBtns" bx-effdt="0" bx-servBtn="PAR_LIQUIDACION" bx-onSave="Validacion();" bx-btnEliminar="0" bx-onSelect="CargarControles();">
	<!--  acá va a ir la botonera y se va a hacer un load al archivo que contiene la botonera -->
	</div>
	<p>
		<div id="idDivLiq" class="ui-widget ui-widget-content ui-corner-all bxSubKey">
			<div class="bxLabel">Fecha Efectiva:</div><input id="FECHA_EFECTIVA" type="text" style="width:100px;text-align:center" class="bxCtrl ui-widget ui-widget-content" name="FECHA_EFECTIVA" bx-ctrlField="FECHA_EFECTIVA" bx-ctrlKey="2"/>	
			<div class="ui-widget" style="display:inline-block;float:right;">
				<span class="pkFlechasEfec ui-icon ui-icon-carat-1-w" id="bxBtnSubKeyRewind" onclick="SubKeyRewind();"></span>
				<span class="pkFlechasEfec ui-icon ui-icon-search" id="bxBtnSubKeySearch" onclick="SubKeySearch();"></span>
				<span class="pkFlechasEfec ui-icon ui-icon-carat-1-e" id="bxBtnSubKeyForward" onclick="SubKeyForward();"></span>
				&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<span class="pkFlechasEfec ui-icon ui-icon-circle-plus" id="bxBtnAddSubKye" onclick="Agregar();"></span>
				<span class="pkFlechasEfec ui-icon ui-icon-trash" id="bxBtnDeletesubKey" onclick="Eliminar();"></span>
			</div>
		</div>
	</p>
	<div class="ui-widget ui-widget-content ui-corner-all">
		<table class="bxControls">
			<tr style="margin:500px;">
				<td>Parámetro:</td><td><input id="PARAM_LIQ" type="text" style="width:75px;text-align:center" class="bxCtrl ui-widget ui-widget-content" name="PARAM_LIQ" bx-ctrlField="PARAM_LIQ" bx-ctrlKey="1" disabled/></td>
			</tr>	
			<tr style="margin:500px;">
				<td>Descripción:</td><td><input type="Text" style="width:200px;" name="descrip" class="bxCtrl ui-widget ui-widget-content" bx-ctrlField="DESCRIP"/></td>
			</tr>	
			<tr style="margin:500px;">
				<td>Valor:</td><td><input type="text" style="width:80px;text-align:center;font-weight:bold" class="bxCtrl ui-widget ui-widget-content" name="valor" bx-ctrlField="VALOR" /></td>
			</tr>			
		</table>
	</div>
	<div class="ui-widget ui-widget-content ui-corner-all">
		<table class="bxControls">			
		</table>
	</div>	
</form>
<div id="searchForm" class="ui-widget-content ui-corner-all searchForm"></div>
<script type="text/javascript" src="/buxis/Partials/js/par_liquidacion.js"></script>