<HTML>
	<HEAD>
		<SCRIPT SRC="../componentes/bxportal.js"></SCRIPT>
		<SCRIPT>
			function main() { 
				var numeros = [123456789,31,121,1221,10221,100221,1000221,123123123123.123]
				for (var i = 0; i < numeros.length; i++) {
					var n = numeros[i]; 
					window.alert(n.toString()+'\n'+n.parseString(2)+'\n'+n.parseText(2)) 
				}
			}
		</SCRIPT>
	</HEAD>
	<BODY STYLE="OVERFLOW:AUTO"><OBJECT id=dlgHelper CLASSID="clsid:3050f819-98b5-11cf-bb82-00aa00bdce0b" WIDTH="0px" HEIGHT="0px"></OBJECT></BODY>
</HTML>
